@import "tailwindcss";




/* @font-face{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('./Components/Fonts/Poppins-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src:url('./Components/Fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src:url('./Components/Fonts/Poppins-Light.ttf') format('truetype');
}  

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src:url('./Components/Fonts/Poppins-Medium.ttf') format('truetype');
} */